.contributor-card {
  width: 90%;
  max-width: 990px;
  height: auto;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contributor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.contributor-card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

.contributor-profile-icon {
  font-size: 4rem;
  margin-right: 20px;
  flex-shrink: 0;
  margin-top: 2%;
  color: #6a6a6a;
}

.contributor-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 0;
}

.contributor-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.contributor-specialty {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  margin-bottom: 8px;
}

.contributor-info-description {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  margin-right: 6%;
  margin-bottom: 10px;
  flex-grow: 0;
  flex-shrink: 0; 
  color: #666;
}

.btn-quote {
  font-size: 1.2rem;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-quote:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .contributor-card {
    width: 95%;
    margin: 20px auto;
    height: auto;
  }

  .contributor-name {
    font-size: 1.6rem;
  }

  .contributor-specialty {
    font-size: 1.1rem;
  }

  .contributor-info-description {
    font-size: 1rem;
  }

  .btn-quote {
    font-size: 1rem;
    padding: 6px 16px;
  }
}

@media (max-width: 768px) {
  .contributor-card {
    width: 90%;
  }

  .contributor-name {
    font-size: 1.7rem;
  }

  .contributor-specialty {
    font-size: 1.2rem;
  }

  .contributor-info-description {
    font-size: 1.1rem;
  }

  .btn-quote {
    font-size: 1.1rem;
  }
}
