<header>
  <div class="logo-title">
    <img src="logo.png" class="logo" alt="Logo">
    <h1 class="title">Go Flow</h1>
  </div>

  <nav class="nav" [class.active]="isMenuVisible">
    <a>Inicio</a>
    <a>Colaboradores</a>
    <button type="submit" class="btn-creat">Crear</button>
  </nav>

 
  <button type="button" class="hamburger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <button type="button" class="logout-button">Cerrar Sesión</button>
</header>
