header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #efefef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;

  // Contenedor para logo y título
  .logo-title {

    display: flex;
    align-items: center;
  }

  // Logo
  .logo {
    margin-left: 30px;
    width: 45px;
    height: auto;
    margin-top: 2%;
    border-radius: 5%;
  }

  // Título
  .title {
    margin-top: 8%;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 25px; // Ajusta el espacio entre el logo y el título
  }

  // Nav: Ajuste del contenedor y de los enlaces
  .nav {

    display: flex;
    margin-top: 1%;
    gap: 40px;
    margin-right: 690px;// Reduce el espacio entre los enlaces y el título
    font-family: sans-serif;
    a {

      color: #000000;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        color: #1364b0;
      }
    }
  }

  // Botón Crear: estilo vibrante y llamativo
  .btn-creat {
   margin-top: -2%;
    margin-right: 0%; // Reduce el espacio entre el botón y los enlaces de navegación
    background-color: #1092f6;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s;

    &:hover {
      background-color: #969a97;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  // Botón Cerrar Sesión: estilo más discreto y formal
  .logout-button {
    margin-right: 6%;
    background-color: #1064f6;
    color: #fff;
    border: none;
    padding: 6px 18px;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
    border-radius: 8px;
    transition: color 0.3s ease, background-color 0.3s;

    &:hover {
      background-color: #dc3545;
      color: #fff;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  // Responsivo para pantallas más pequeñas
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-size: 1.5rem;
      margin: 10px 0;
    }

    .nav {
      flex-direction: column;
      gap: 10px;

      a {
        font-size: 1rem;
      }
    }

    .btn-creat, .logout-button {
      padding: 6px 10px;
      font-size: 0.9rem;
      margin: 5px 0;
    }
  }
}
