<header>
  <div class="logo-title">
    <img src="logo.png" class="logo" alt="Logo">
    <h1 class="title">Go Flow</h1>
  </div>

  <nav class="nav" [class.active]="isMenuVisible">
    <a href="/userview">Inicio</a>
    <a href="/administratorview">Colaboradores</a>
    <button type="button" class="btn-creat" (click)="goToNewView()">Crear</button>
  </nav>


  <button class="user-icon" (click)="toggleModal()">
    <i class="fas fa-user-circle"></i>
  </button>


  <div class="user-modal" [ngClass]="{'active': isModalVisible}">
    <button (click)="viewProfile()">Ver perfil</button>
    <button (click)="logout()">Cerrar sesión</button>
  </div>
</header>
