header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #efefef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .logo-title {
    display: flex;
    align-items: center;

    .logo {
      width: 65px;
      height: auto;
      border-radius: 5%;
    }

    .title {
      margin-left: 15px;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .nav {
    display: flex;
    align-items: left;
    margin-right: 60%;
    gap: 20px;

    a {
      color: #000;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        color: #1364b0;
      }
    }

    .btn-creat {
      background-color: #1092f6;
      color: #fff;
      border: none;
      padding: 8px 20px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      border-radius: 15px;
      transition: transform 0.3s ease, background-color 0.3s;

      &:hover {
        background-color: #969a97;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .user-icon {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .user-icon i {
    margin-right: 25px;
    font-size: 30px;
  }


  .user-modal {
    position: absolute;
    top: calc(50px + 10px);
    top: 55px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: none;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
  }


  .user-modal.active {
    display: flex;
  }

  .user-modal button {
    background-color: #1092f6;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0e78c0;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  @media (min-width: 768px) {
    .user-icon i {
      font-size: 50px;
    }

    .user-modal {
      padding: 20px;
      gap: 15px;
    }

    .user-modal button {
      padding: 10px 25px;
      font-size: 1.2rem;
    }
  }

  @media (max-width: 480px) {
    .user-icon i {
      font-size: 30px; }

    .user-modal {
      padding: 12px;
      gap: 10px;
    }

    .user-modal button {
      padding: 6px 18px;
      font-size: 1rem;
    }
  }
}
