header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #efefef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .logo-title {
    display: flex;
    align-items: center;

    .logo {
      width: 75px;
      height: auto;
      border-radius: 5%;
    }

    .title {
      margin-left: 15px;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .nav {
    display: flex;
    align-items: left;
    margin-right: 56%;
    gap: 20px;

    a {
      color: #000;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        color: #1364b0;
      }
    }

    .btn-creat {
      background-color: #1092f6;
      color: #fff;
      border: none;
      padding: 8px 20px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      border-radius: 15px;
      transition: transform 0.3s ease, background-color 0.3s;

      &:hover {
        background-color: #969a97;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #333;
      transition: 0.3s;
    }
  }

  .logout-button {
    background-color: #1064f6;
    color: #fff;
    border: none;
    padding: 6px 18px;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #dc3545;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  @media (max-width: 768px) {
    .nav {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 10px;
      transform: translateY(-100%);
      transition: transform 0.3s ease;
      z-index: 5;
      opacity: 0;
      pointer-events: none;

      &.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }

      a, .btn-creat {
        margin: 10px 0;
        font-size: 1rem;
      }
    }

    .hamburger-menu {
      display: flex;
    }

    .logo-title {
      .title {
        font-size: 1.2rem;
      }
    }

    .logout-button {
      margin-left: auto;
    }
  }
}
