<app-header></app-header>
<div>
  <app-card
  [title]="'Matematica Pura'"
  [description]="'Matematica Pura'"
  [image]="'https://images.pexels.com/photos/3729557/pexels-photo-3729557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
  [route]="'/mathview'"></app-card>
</div>
<div>
  <app-card
  [title]="'Programacion'"
  [description]="'Programacion'"
  [image]="'https://images.pexels.com/photos/3888149/pexels-photo-3888149.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
  [route]="'/programminguser'"></app-card>
</div>
<div>
  <app-card
  [title]="'Ingles'"
  [description]="'Ingles'"
  [image]="'https://images.pexels.com/photos/301920/pexels-photo-301920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
  [route]="'/englishuser'"></app-card>
</div>

<app-footer></app-footer>
