.mis-chta {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: fixed;
  top: 360px;
  height: 30px;
  left: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mis-chta:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.mis-chta .title-mis {
  margin-left: 20%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 25px;
}

.mis-chta .title-mis .fas {
  font-size: 1.8rem;
  color: #007bff;
}

.chat-footer {
  position: absolute;
  margin-top: 220px;
}

@media (max-width: 768px) {
  .mis-chta {
    width: 250px;
    padding: 15px;
  }

  .mis-chta .title-mis {
    font-size: 1.2rem;
  }

  .mis-chta .title-mis .fas {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .mis-chta {
    width: 200px;
    padding: 10px;
  }

  .mis-chta .title-mis {
    font-size: 1rem;
  }

  .mis-chta .title-mis .fas {
    font-size: 1.2rem;
  }
}

.tasks-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
  margin-top: 59px;
  height: 10px;
  left: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tasks-container:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.tasks-title {
  margin-left: 20%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 2%;
}

.tasks-title .fas {
  font-size: 1.8rem;
  color: #007bff;
}

@media (max-width: 768px) {
  .tasks-container {
    width: 250px;
    padding: 15px;
  }

  .tasks-title {
    font-size: 1.2rem;
  }

  .tasks-title .fas {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .tasks-container {
    width: 200px;
    padding: 10px;
  }

  .tasks-title {
    font-size: 1rem;
  }

  .tasks-title .fas {
    font-size: 1.2rem;
  }
}
