<app-header></app-header>
<div class="board">
  <main class="board-main">
    <h2>Nombre de la tarea</h2>
    <div class="columns">
      <div class="column">
        <h3>Por hacer</h3>
        <button class="add-btn">Agregar +</button>
      </div>
      <div class="column">
        <h3>En curso</h3>
        <button class="add-btn">Agregar +</button>
      </div>
      <div class="column">
        <h3>Hecho</h3>
        <button class="add-btn">Agregar +</button>
      </div>
    </div>
  </main>
</div>
