.user-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que ocupe toda la altura de la ventana */
  padding: 20px;
  background-image: url('https://imgs.search.brave.com/OvviuTL7G-xPdhaPMd4X6LOmhLiz642hj03bWsTqilE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTE5/ODUwNTg4L2VzL2Zv/dG8vZm9uZG8tc3Vh/dmUtZ3JhZGllbnRl/LWF6dWwuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPWFkZ1VB/TlFzQXg5RnUtZkFz/Q29mRUkzVFFHblNk/Qk5faUVTdTVraWpw/Tzg9'); /* Cambia 'URL_DE_TU_IMAGEN' por la URL o ruta de tu imagen */
  background-size: cover; /* Hace que la imagen ocupe todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}


.registration-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.registration-form:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.registration-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.registration-logo {
  width: 100px;
  height: 100px;
}

.registration-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.registration-subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.registration-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }

  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }

  input:hover {
    border-color: #007bff;
  }

  input:focus {
    border-color: #007bff;
    outline: none;
  }

  &.invalid input {
    border-color: red;
  }

  small {
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }
}

.registration-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #738394;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-button:hover {
  background-color: #0056b3;
}

.registration-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  text-align: center;
}
