.administrator {
  .administrator-header {
    display: flex;
    align-items: center;
    justify-content: center;  // Centra el contenido horizontalmente
    background-color: #95a5a6;  // Gris claro
    color: #ecf0f1;  // Texto claro
    padding: 15px 20px;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    border-radius: 0; // Elimina el borde del header

    .administrator-title {
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;

      i {
        color: #879096;
        font-size: 1.7rem;
        transition: color 0.3s;

        &:hover {
          color: #2980b9;
        }
      }
    }

    .logout-button {
      background-color: #e74c3c;
      color: #fff;
      border: none;
      padding: 8px 15px;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;
      font-weight: 600;
      transition: background-color 0.3s ease;
      position: absolute;  // Para colocar el botón fuera del centro
      right: 20px;  // Alineado a la derecha

      &:hover {
        background-color: #c0392b;
      }

      &:focus {
        outline: none;  // Elimina el borde de enfoque
      }
    }
  }

  // Diseño responsivo
  @media (max-width: 768px) {
    .administrator-header {
      flex-direction: column;
      padding: 15px 20px;
      gap: 10px;
      align-items: center;

      .administrator-title {
        font-size: 1.4rem;
        gap: 8px;
      }

      .logout-button {
        align-self: flex-end;
        padding: 10px 15px;
        font-size: 1.1rem;
        position: relative;
        top: 5px;
      }
    }
  }

  @media (max-width: 480px) {
    .administrator-header {
      padding: 12px;
      height: auto;  // Asegura que no haya una altura fija

      .administrator-title {
        font-size: 1.5rem;
        gap: 10px;
      }

      .logout-button {
        padding: 10px 12px;
        font-size: 1rem;
      }
    }
  }
}
