<div class="hamburger-menu" (click)="toggleSidebar()">
  <i class="fas fa-bars"></i>
</div>

<div class="sidebar" [class.show]="isSidebarVisible">
  <ul class="sidebar-menu">
    <li>
      <a href="/Deleteuser" class="sidebar-link">
        <span>Eliminar Usuario</span>
        <i class="fas fa-user-slash"></i>
      </a>
    </li>
    <li>
      <a href="/AdministratorDeleteContributor" class="sidebar-link">
        <span>Eliminar Colaborador</span>
        <i class="fas fa-user-friends"></i>
      </a>
    </li>
    <li>
      <a href="/AdministrativeAssignmentDeletion" class="sidebar-link">
        <span>Eliminar Asignación</span>
        <i class="fas fa-tasks"></i>
      </a>
    </li>
  </ul>
</div>
