<div>
  <app-header></app-header>
</div>
<div class="math">
  <h2 class="math-title">
     Matemáticas Puras <i class="fas fa-calculator math-icon"></i>
  </h2>
</div>

<div class="profile-contributors-container">
  <app-profilecontributor
    [name]="'John Doe'"
    [expertise]="'Matemáticas Puras'"
    [information]="'Especialista en álgebra abstracta, teoría de números y geometría algebraica con 10 años de experiencia.'"
    (quote)="handleQuote()">
  </app-profilecontributor>
</div>



<div>
</div>
